:root {
  --header-bg-color: #acf2f8;
  --header-text-color: #090524;
}

.header {
  /* 宽度为 window 宽度 */
  width: 100vw;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  /* 字间距 */
  letter-spacing: 2rem;
  font-weight: bold;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  box-sizing: border-box;
  position: relative;
  /* 在正上方 */
  top: 0;
}

.body {
  width: 100vw;
  height: 90vh;
}
